/* src/components/Button/Button.module.css */
/* 
.customButton {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } */
  
  /* .customButton:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  } */
  
  /* .customButton:hover:enabled {
    transform: scale(1.05);
  } */
  