

/* Breadcrumb */
.breadcrumb {
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #2d6a4f;
  }
  
  .breadcrumb span {
    color: #555;
  }

  /* Page Heading */
.heading {
    font-size: 2rem;
    /* font-weight: bold; */
    color: #2d6a4f;
    margin-bottom: 1rem;
    text-align: center;
  }
   
  /* .blogGrid{
    display: flex;
    gap: 6rem;
    justify-content: center;
  } */
   
  .blogGrid {
    display: flex;
      justify-content: center;
      gap: 3rem;
      flex-wrap: wrap;
      width: 100%;
      margin: 2rem auto;
  
  }