.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #e6e6e6;
    padding: 10px 20px;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .language {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .language img {
    width: 24px;
    height: 16px;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 85rem;
  }
  
  .icon {
    font-size: 22px;
    cursor: pointer;
    color: #2e7d32;
  }
  
  .notification {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  .profileSection {
    position: relative;
    cursor: pointer;
  }
  
  .profileIcon {
    font-size: 22px;
    color: #2e7d32;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 150px;
    z-index: 999;
  }
  
  .dropdownMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdownMenu li {
    padding: 10px 15px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdownMenu li:hover {
    background-color: #f0f0f0;
  }
  