/* src/components/Login.module.css */

/* Container */
.resetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f6f6f6;
    padding: 20px;
  }
  
  /* Form Box */
  .resetBox {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(5, 3, 3, 0.2);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .forgotBox h2 {
    color: #2d6a4f;
    margin-bottom: 0.5rem;
  }
  
  .forgotBox p {
    color: #888;
    margin-bottom: 1rem;
  }
  
  .forgotBox p a {
    color: #2d6a4f;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Input Fields */
  .inputField {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #c8d6e5;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 0.95rem;
  }
  
  .inputField:focus {
    border-color: #2d6a4f;
    outline: none;
  }
  
  
  /* Submit Button */
  .resetBtn {
    width: 100%;
    background-color: #2d6a4f;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 1rem;
  }
  
  .signInBtn:hover {
    background-color: #40916c;
    /* background-color: #B7E4C7; */
  }
  
  
  
  /* Responsive */
  @media (max-width: 480px) {
    .resetBox {
      padding: 1.5rem;
    }

  
    .resetBtn {
      font-size: 1rem;
    }
  }
  